html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6b6eec), color-stop(#5456be), color-stop(#3d3f91), color-stop(#282a67), to(#141640));
  background-image: linear-gradient(to bottom, #6b6eec, #5456be, #3d3f91, #282a67, #141640);
  padding-top: 1px;
}

.search {
  min-height: 100vh;
  /* Animate neon flicker */
}

.search h1 {
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: 10px;
  color: white;
  margin: 50px auto;
  margin-bottom: 60px;
  padding: 20px 0px;
  width: 70%;
  border: 5px solid #8ef9f4;
  border-radius: 20px;
  text-align: center;
  -webkit-animation: flicker 1.5s infinite alternate;
          animation: flicker 1.5s infinite alternate;
  background-color: #141640;
}

@media (max-width: 1200px) {
  .search h1 {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .search h1 {
    width: 75%;
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .search h1 {
    width: 100%;
    font-size: 2rem;
  }
}

.search label {
  visibility: hidden;
}

.search h3 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 3px 3px #141640;
  color: #8ef9f4;
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  .search h3 {
    font-size: 2.8rem;
  }
}

@media (max-width: 400px) {
  .search h3 {
    font-size: 2.3rem;
  }
}

.search h1:focus {
  outline: none;
}

@-webkit-keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #8ef9f4, 0.2rem 0.2rem 1rem #8ef9f4, 0 0 2rem #6b6eec, 0 0 4rem #6b6eec, 0 0 6rem #6b6eec, 0 0 8rem #6b6eec, 0 0 10rem #6b6eec;
    -webkit-box-shadow: 0 0 0.5rem #8ef9f4, inset 0 0 0.5rem #8ef9f4, 0 0 2rem #141640, inset 0 0 2rem #141640, 0 0 4rem #141640, inset 0 0 4rem #141640;
            box-shadow: 0 0 0.5rem #8ef9f4, inset 0 0 0.5rem #8ef9f4, 0 0 2rem #141640, inset 0 0 2rem #141640, 0 0 4rem #141640, inset 0 0 4rem #141640;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #8ef9f4, 0.2rem 0.2rem 1rem #8ef9f4, 0 0 2rem #6b6eec, 0 0 4rem #6b6eec, 0 0 6rem #6b6eec, 0 0 8rem #6b6eec, 0 0 10rem #6b6eec;
    -webkit-box-shadow: 0 0 0.5rem #8ef9f4, inset 0 0 0.5rem #8ef9f4, 0 0 2rem #141640, inset 0 0 2rem #141640, 0 0 4rem #141640, inset 0 0 4rem #141640;
            box-shadow: 0 0 0.5rem #8ef9f4, inset 0 0 0.5rem #8ef9f4, 0 0 2rem #141640, inset 0 0 2rem #141640, 0 0 4rem #141640, inset 0 0 4rem #141640;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.search .movieListing {
  font-size: 1.8rem;
  list-style-type: none;
  padding-left: 10px;
  width: 100%;
}

.search .movieListing:hover {
  color: white;
  background-color: rgba(107, 110, 236, 0.4);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  border-radius: 5px;
}

.searchBar {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .searchBar {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .searchBar {
    width: 100%;
  }
}

.searchInput {
  padding: 15px;
  height: 60px;
  margin-bottom: 2px;
  border-radius: 15px;
  font-size: 1.8rem;
  width: 100%;
  border: none;
  -webkit-box-shadow: 4px 3px 3px darkslateblue;
          box-shadow: 4px 3px 3px darkslateblue;
  background-color: #141640;
  color: #8ef9f4;
}

.searchInput:focus {
  -webkit-box-shadow: 0 0 10px #8ef9f4;
          box-shadow: 0 0 10px #8ef9f4;
}

@media (max-width: 900px) {
  .searchInput {
    font-size: 1.5rem;
  }
}

.searchIcon {
  color: #8ef9f4;
  opacity: 40%;
  font-size: 2.3rem;
  position: absolute;
  right: 15px;
  top: 38px;
  bottom: 0px;
}

.movieResults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background-color: #141640;
  margin-bottom: 30px;
  margin: 0 auto;
  width: 100%;
}

.movieResultsPartOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px 10px;
  width: 100%;
}

.movieResultsPartOne .movieListing {
  font-size: 1.8rem;
  list-style-type: none;
  padding: 10px 0;
  padding-left: 10px;
  color: #8ef9f4;
  text-align: left;
  border-bottom: 1px solid rgba(142, 249, 244, 0.1);
  width: 100%;
}

.movieResultsPartOne .movieListing:focus {
  -webkit-box-shadow: 0 0 10px #8ef9f4;
          box-shadow: 0 0 10px #8ef9f4;
}

@media (max-width: 400px) {
  .movieResultsPartOne .movieListing {
    font-size: 1.7rem;
  }
}

.results {
  background: #6b6eec;
  padding-top: 25px;
}

.results .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  background: #141640;
  border-radius: 75px;
}

.movie-details {
  width: 30%;
  margin-right: 30px;
}

.movie-details h3 {
  margin-top: 15px;
  text-transform: uppercase;
}

.movie-details li {
  list-style-type: none;
}

.movie-details p {
  color: white;
  padding-top: 15px;
  font-size: 1.8rem;
}

.movie-details img {
  border: 2px solid #8ef9f4;
  -webkit-box-shadow: 1px 0px 3px 3px #8ef9f4;
          box-shadow: 1px 0px 3px 3px #8ef9f4;
}

.gif-results {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gif-results h2,
.gif-results h3 {
  text-align: center;
  text-transform: uppercase;
}

.gif-results h2 {
  font-size: 3rem;
}

.gif-results h3 {
  color: #8ef9f4;
  font-size: 5rem;
  margin-bottom: 20px;
}

.carousel-cell {
  width: 100%;
  border-radius: 5px;
  counter-increment: gallery-cell;
  list-style: none;
}

.carousel-cell-image {
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.flickity-page-dots .dot {
  background: #8ef9f4;
}

.reset-section {
  text-align: center;
  padding-top: 20px;
}

.reset-section .reset {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #141640;
  color: white;
  font-family: "Lato", sans-serif;
}

@media (max-width: 750px) {
  .movie-details img {
    display: none;
  }
  .results .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .gif-results,
  .movie-details {
    width: 100%;
  }
  .movie-details {
    margin-top: 50px;
  }
}

@media (max-width: 610px) {
  .carousel-cell {
    height: 300px;
  }
  .results {
    background: #141640;
  }
  .reset-section .reset {
    background: #8ef9f4;
    color: #141640;
  }
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
}

h1,
h2,
h3,
li,
ul,
p {
  margin: 0;
  padding: 0;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
}

img {
  width: 100%;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #141640;
  color: #8ef9f4;
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
}

.skipLink:focus {
  left: 0;
  -webkit-box-shadow: 0 0 20px #8ef9f4;
          box-shadow: 0 0 20px #8ef9f4;
  outline: none;
}
