html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  background: white;
  font-family: $bodyFont;
  font-size: 1.8rem;
}

h1,
h2,
h3,
li,
ul,
p {
  margin: 0;
  padding: 0;
  color: white;
}

h1,
h2,
h3 {
  font-family: $headerFont;
}

img {
  width: 100%;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: $darkPurple;
  color: $cyan;
  padding: 5px;
  text-decoration: none;
  font-weight: 600;
}

.skip-link:focus {
  left: 0;
  box-shadow: 0 0 20px $cyan;
  outline: none;
}
