html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: $secondaryColor;
  font-family: $bodyFont;
  font-size: 1.8rem;
  color: $primaryTextColor;
}

h1,
h2,
h3,
li,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $headerFont;
}

img {
  width: 100%;
}
