.movie-input-section {
  min-height: 100vh;
  background-image: url(../assets/curtains.png),
    linear-gradient(to bottom, #6b6eec, #5456be, #3d3f91, #282a67, #141640);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 1px;
}

.movie-seats {
  height: 28vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../assets/movie-seats.png);
  background-position: top center;
  background-size: cover;
}

h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: $primaryTextColor;
  margin: 50px auto 60px;
  padding: 20px 0px;
  width: 70%;
  border: 5px solid $accentColor;
  border-radius: 20px;
  text-align: center;
  animation: flicker 1.5s infinite alternate;
  background-color: $primaryColor;

  @include mq-laptop-big {
    font-size: 3rem;
  }

  @include mq-tablet-big {
    width: 75%;
    font-size: 2.5rem;
  }

  @include mq-phone-small {
    width: 100%;
    font-size: 2rem;
  }
}

h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 50px;
  text-shadow: 3px 3px $primaryColor;
  color: $accentColor;
  letter-spacing: 2px;

  @include mq-tablet-big {
    font-size: 2.8rem;
  }
  @include mq-phone-small {
    font-size: 2.3rem;
  }
}
/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem $accentColor,
      0.2rem 0.2rem 1rem $accentColor, 0 0 2rem $secondaryColor,
      0 0 4rem $secondaryColor, 0 0 6rem $secondaryColor, 0 0 8rem $purple,
      0 0 10rem $secondaryColor;

    box-shadow: 0 0 0.5rem $accentColor, inset 0 0 0.5rem $accentColor,
      0 0 2rem $primaryColor, inset 0 0 2rem $primaryColor,
      0 0 4rem $primaryColor, inset 0 0 4rem $primaryColor;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.search-bar {
  position: relative;
  width: 50%;
  margin: 0 auto;
  z-index: 2;
  @include mq-laptop-big {
    // width: 60%;
  }
  @include mq-tablet-big {
    width: 70%;
  }
  @include mq-phone-small {
    width: 100%;
  }
}

.search-container {
  position: relative;
}

.search-input {
  padding: 15px 20px;
  height: 60px;
  margin-bottom: 2px;
  border-radius: 15px;
  width: 100%;
  border: none;
  box-shadow: 4px 3px 3px black;
  background-color: $primaryColor;
  color: $accentColor;

  &:focus {
    box-shadow: 0 0 10px $accentColor;
  }
  @include mq-tablet-big {
    font-size: 1.5rem;
  }
}

.search-icon {
  color: $accentColor;
  opacity: 40%;
  font-size: 2.3rem;
  position: absolute;
  right: 15px;
  top: 20px;
}

.error-message {
  margin: 20px auto;
  text-align: center;
}

.movie-results-part-one {
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.movie-listing {
  color: $accentColor;
  text-align: left;
  padding: 10px;
  width: 100%;
  transition: ease-in-out 0.2s;
  border-bottom: 1px solid rgba(142, 249, 244, 0.1);

  &:last-of-type {
    border-bottom: 0;
  }

  &:hover,
  &:focus {
    color: $primaryTextColor;
    background-color: rgba(107, 110, 236, 0.4);
    border-radius: 5px;
  }
  @include mq-phone-small {
    font-size: 1.7rem;
  }
}

// H1 flicker animation credits to George W. Park (https://codepen.io/GeorgePark/pen/MrjbEr)
