/* Utilities */

/* Font load-in */
@import url("https://fonts.googleapis.com/css?family=Kanit:300|Lato&display=swap");

/* How to reference fonts */
/* -
font-family: 'Lato', sans-serif;
font-family: 'Kanit', sans-serif;
- */

/* Colors: */
/*
purple: #6b6eec
darkBlue: #141640
teal: #8ef9f4
*/

.App {
  text-align: center;
}
